@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --maxw: 1024px;
  --fon1: "Roboto", sans-serif;
  --ColorPrimario: #38454f;
  --ColorSecundario: #222222;
  --ColorTerceario: #d01418;
  --ColorQuaternario: #000000;
  --ColorQuinario: #f3f3f3;
  --ColorSextario: #14aed0;
  --ColorSeptimoario: #1476d0;
  --ColorOctarioario: #ce0cff;
  --ColorNovenoario: #c4c4c4;
  --ColorDecimoario: #619d00;
  --backgroundImg: rgb(236, 221, 221);
  --Pshadow1: 0px 10px 7px rgb(0 0 0 / 25%);
  --Pshadow2: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fon1);
  font-weight: 300px;
}
img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* ***************HEADER******************** */

/* ***************MAIN******************** */
/* ***************FOOTER******************** */
